@import "../helpers/index.scss";
@import "bootstrap/scss/bootstrap";

// Custom style for icon btn
.btn-icon {
  i {
    margin-right: 4px;
  }
}

// New buttons with bootstrap button styles
.cm-admin .btn-cta {
  @include button-variant($primary, $primary);
  @extend .btn.btn-sm.btn-icon;
}

.cm-admin .btn-primary {
  @extend .btn.btn-outline-primary.btn-sm.btn-icon;
}

.cm-admin .btn-secondary {
  @extend .btn.btn-outline-secondary.btn-sm.btn-icon;
}

.cm-admin .btn-ghost {
  @extend .btn.btn-light.btn-sm.btn-icon;
}

.cm-admin .btn-danger {
  @extend .btn.btn-outline-danger.btn-sm.btn-icon;
}

.cm-admin .btn-link {
  @extend .btn.btn-link.btn-sm.btn-icon;
  text-decoration: underline;
}

// button mixin - We can use if needed
// @include button-variant($background: #6554e0, $border: #6554e0);

//Outline button mixin - We can use if needed
// @include button-outline-variant($color: #6554e0);

.text-btn {
  border: none;
  background-color: transparent;
  white-space: nowrap;
  &:focus {
    outline: none;
  }
}
