@import "helpers/index.scss";

.jGrowl {
  color: $ink-regular-clr !important;
  font-size: 14px !important;
  .success{
    background-color: $green-light-clr !important;
  }
  .notice {
    background-color: $blue-light-clr !important;
  }
  .error {
    background-color: $red-light-clr !important;
  }

}

.nested-field-wrapper {
  label {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .nested-fields {
    margin-bottom: 16px;
  }
}

.ink-light-clr {
  color: $ink-lighter-clr;
}
