@import "helpers/index.scss";

.jGrowl {
  color: $ink-regular-clr !important;
  font-size: $t4-text !important;
  .success {
    background-color: $green-light-clr !important;
  }
  .notice {
    background-color: $blue-light-clr !important;
  }
  .error {
    background-color: $red-light-clr !important;
  }
}

.nested-field-wrapper {
  label {
    font-size: $t4-text;
    margin-bottom: 16px;
  }
  .nested-fields {
    margin-bottom: 16px;
  }
}

.ink-light-clr {
  color: $ink-lighter-clr;
}
