@function size($size) {
  @return map-get($font-size, $size);
}

@function weight($weight) {
  @return map-get($font-weight, $weight);
}

.form-page {
  background-color: $white;
  &__header {
    @extend .position-sticky, .top-0, .bg-white;
    z-index: 5;
  }
  &__body {
    padding: 24px;
  }
  .form-container {
    margin-bottom: 24px;
    .form-title {
      @extend .h6, .fw-semibold;
      color: $primary-text-clr;
    }
    &__inner {
      @extend .card, .p-4;
      background-color: var(--bs-gray-100);
    }
  }
}

//form field styles
.form-field {
  @extend .mb-4;
}

.field-label {
  @extend .form-label;
}

.field-control {
  @extend .form-control;
}

//upload attachment style
.destroy-attachment {
  margin-top: 4px;
}

//Form card UI
.form-card {
  @extend .card, .mt-3;
  background-color: var(--bs-gray-100);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  .card-title-wrapper {
    @extend .d-flex, .align-items-center, .mb-3;
    &:hover {
      div:last-of-type {
        visibility: visible;
      }
    }
  }
  .card-title {
    font-size: $t4-text;
    color: var(--bs-tertiary-color);
    margin: 0;
  }
  .card-delete {
    visibility: hidden;
  }
}

.form-modal {
  .form-info-text {
    @extend .text-body, .mb-3;
  }
}

// Simple form UI
.simple_form {
  .input {
    @extend .mb-3;
  }
  label {
    @extend .form-label;
  }
  input {
    @extend .form-control;
  }
  input[type="submit"] {
    width: auto;
    float: right;
    @extend .mt-3;
  }
  .select-2 {
    appearance: auto;
    @extend .form-control;
  }
}
