@import "../helpers/index.scss";
@import "../dependency/bootstrap/scss/bootstrap";

@function size($size) {
  @return map-get($font-size, $size);
}

@function weight($weight) {
  @return map-get($font-weight, $weight);
}

.form-page {
  background-color: $white;
  &__header {
    @extend .position-sticky, .top-0, .bg-white;
    z-index: 5;
  }
  &__body {
    padding: 24px;
  }
  .form-container {
    margin-bottom: 24px;
    .form-title {
      @extend .h6, .fw-semibold;
      color: $primary-text-clr;
    }
    &__inner {
      @extend .card, .p-4;
      background-color: var(--bs-gray-100);
    }
  }
}

//form field styles
.form-field {
  @extend .mb-4;
}

.field-label {
  @extend .form-label;
}

.field-control {
  @extend .form-control;
}

// Nested form styles
.nested-field-wrapper {
  .nested-single-field {
    display: grid;
    grid-template-columns: 1fr 32px;
    align-items: center;
    width: 352px;
    margin-bottom: 8px;
    .field-remove-action {
      font-size: $t3-text;
      text-align: center;
      a {
        color: $primary-text-clr;
        &:hover {
          color: $primary-text-clr;
        }
      }
    }
  }
}

//Nested form table styles
.nested-form-table {
  @extend .table, .table-light, .table-hover, .table-bordered;
  .item-delete-cell {
    vertical-align: middle;
    text-align: center;
  }
}
