.kanban-container {
  @extend .d-flex, .flex-nowrap;
  gap: 8px;
  max-width: 100%;
  height: calc(100vh - 214px);
  padding-right: 24px;
  overflow-x: auto;
  .kanban-list {
    min-width: 240px;
    max-width: 240px;
    background: var(--grey-lighter, #f3f4f6);
    padding: 8px;
    &__header {
      @extend .d-flex, .justify-content-between;
      p {
        font-size: $t4-text;
        margin-bottom: 8px;
        &:nth-child(1) {
          color: $ink-regular-clr;
        }
        &:nth-child(2) {
          color: $ink-lighter-clr;
        }
      }
    }
  }
  .item-card {
    margin-bottom: 8px;
  }
}

.kanban-pagination {
  justify-content: center !important;
}
