@import "../helpers/index.scss";

.show-page {
  overflow: auto;
  
  &__tabs {
    .cm-tabs-bar {
      background-color: #FFF;
      width: 100%;
      .nav-pills {
        margin-left: 20px;
      }
      .nav-link {
        position: static;
        left: 0%;
        right: 0%;
        font-size: 14px;
        line-height: 22px;
        flex: none;
        order: 0;
        flex-grow: 0;
        color: #6B7586;
        background-color: #FFF;
        border-radius: 0px;
      }
      .nav-link.active {
        color: #6554E0;
        border-bottom: 3px #6554E0 solid;
        background-color: #FFF;
      }
    }
  }

  &__inner {
    padding: 24px;
    .info-section {
      margin-bottom: 32px;

      .section-heading {
        @include font($size: $t3-text, $color: $primary-text-clr, $weight: 600);
        line-height: 24px;
        margin: 0 0 16px;
      }
      .paper {
        max-width: 752px;
        padding: 24px;
        background-color: $white;
        border: 1px solid $grey-light-clr;
        border-radius: $radius-4;
      }
      .info-split {
        display: flex;
        margin-bottom: 24px;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
        &__lhs {
          width: 20%;
          p {
            @include font($size: $t4-text, $color: $ink-lighter-clr);
            line-height: 22px;
            margin: 0;
          }
        }
        &__rhs {
          width: 80%;
          p {
            @include font($size: $t4-text, $color: #172b4d);
            line-height: 19px;
            margin: 0;
          }
        }
      }
    }
  }
}
