@import "../helpers/index.scss";
@import "../dependency/bootstrap/scss/bootstrap";

.cm-index-page {
  background-color: $white;
  overflow: auto;

  &.associated-index {
    background-color: transparent;
  }

  .sticky-container {
    .cm-filters-v2 {
      padding: 16px 24px;
    }
  }

  &__filters {
    // If you want to overwrite filters styles ---> add styles here
  }

  &__table-container {
    padding-left: 24px;
  }

  .table-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 21px 24px 21px 0;
    background-color: transparent;
    &__total-count {
      @include font($size: $t4-text, $color: $ink-lighter-clr);
      line-height: 22px;
      margin: 0;
    }
  }

  //Table UI styles
  .new-admin-table {
    min-width: 720px;
    max-width: fit-content;
    // max-height: calc(100vh - 240px); Height is dynamic
    overflow: auto;
    .cm-table {
      table-layout: fixed;
      position: relative;
      min-width: 720px;
      border-collapse: collapse;
      border: 1px solid $grey-lighter-clr;
      border-top-width: 0;
      border-radius: $radius-8;
      &__header {
        .header-row {
          display: block;
          width: 100%;
          position: relative;
          box-shadow: inset 0px -1px 0px rgba(148, 151, 155, 0.15);
          border-top: 1px solid $grey-lighter-clr;
          th {
            @include font($size: $t6-text, $color: $ink-lighter-clr, $weight: bold);
            text-transform: uppercase;
            min-width: 200px;
            max-width: 200px;
            padding: 12px 16px 12px 16px;
          }
          th:nth-child(1) {
            position: sticky;
            left: 0;
            z-index: 2;
            background-color: $white;
            border-bottom: 1.21px solid rgb(240, 239, 239);
          }
          .check-box-space {
            position: sticky;
            left: 0;
            min-width: fit-content;
            max-width: fit-content;
            padding: 12px 8px 12px 16px;
            z-index: 2;
            background-color: $white;
            border-bottom: 1.21px solid rgb(240, 239, 239);
            span {
              vertical-align: text-top;
            }
          }
        }
      }
      &__body {
        display: block;
        position: relative;
        width: 100%;
        background-color: $white;
        .body-row {
          display: flex;
          border-bottom: 1.21px solid rgb(240, 239, 239);
          td:nth-child(1) {
            position: sticky;
            left: 0;
            z-index: 2;
            background-color: $white;
          }
          &:nth-last-child(1) {
            box-shadow: none;
          }
          &:hover {
            background-color: $grey-lighter-clr;
            td:nth-child(1) {
              background-color: $grey-lighter-clr;
            }
            .row-action-cell {
              display: inline-block;
            }
          }
          .check-box-space {
            position: sticky;
            left: 0;
            min-width: fit-content;
            max-width: fit-content;
            padding: 16px 8px 16px 16px;
            z-index: 2;
            background-color: $white;
            span {
              vertical-align: text-top;
            }
          }
          td {
            @include font($size: $t4-text, $color: $primary-text-clr);
            min-width: 200px;
            max-width: 200px;
            padding: 16px;
          }
          .row-action-cell {
            position: sticky;
            right: 0;
            width: 88px;
            max-width: inherit;
            min-width: inherit;
            height: 53px;
            padding: 0;
            background: $gradient-one;
            display: none;
            transition: all 0.1s linear;
            z-index: 3;
            .row-action-tool {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              .popup-card {
                .popup-option {
                  a {
                    @include font($size: $t4-text, $color: $ink-regular-clr, $weight: 500);
                    line-height: 22px;
                  }
                }
                button {
                  background: none;
                  border: none;
                  width: 100%;
                  text-align: left;
                  padding: 0px;
                }
              }
            }
          }
        }
      }
    }
    .cm-table > thead {
      position: sticky;
      top: 0;
      background-color: $white;
      z-index: 4;
    }
  }

  // table-column-modal
  .table-column-modal {
    //modal overwritten styles
    .modal-dialog {
      .modal-content {
        .modal-header {
          position: relative;
          padding: 24px 32px 18px;
          border: none;
          box-shadow: inset 0px -1px 0px rgba(148, 151, 155, 0.15);
          .modal-title {
            @include font($size: 24px, $color: $primary-text-clr, $weight: 600);
            line-height: 32px;
          }
          .close {
            position: absolute;
            top: 4px;
            right: 8px;
            padding: 4px;
            margin: 0;
          }
        }
        .modal-body {
          padding: 0;
        }
        .modal-footer {
          padding: 16px 32px;
          border: none;
          box-shadow: inset 0px 1px 0px rgba(148, 151, 155, 0.15);
        }
      }
    }

    .columns-list {
      .column-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 24px;
        box-shadow: inset 0px -1px 0px rgba(148, 151, 155, 0.15);
        &:hover {
          .dragger {
            display: block;
          }
        }
        &__name {
          @include font($size: $t4-text, $color: $primary-text-clr);
          line-height: 22px;
          margin-left: 4px;
          p {
            margin: 0;
          }
        }
        &__action {
          padding: 5px 8px;
          @include font($size: $t4-text, $color: $ink-lightest-clr);
        }
        .dragger {
          display: none;
          position: absolute;
          left: 4px;
          top: 8px;
          padding: 5px;
          color: $ink-lightest-clr;
          border-radius: $radius-4;
          animation: fadeIn 0.1s ease-in-out;
          cursor: grab;
          &:hover {
            background: $grey-lighter-clr;
          }
        }
      }
    }
  }

  .cm-pagination {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    background-color: $white;
    border: 1px solid $grey-lighter-clr;
    box-shadow: inset 0px 1px 0px rgba(148, 151, 155, 0.3);
    z-index: 2;
    &__lhs {
      @include font($size: $t4-text, $color: $ink-lightest-clr, $weight: bold);
      line-height: 22px;
    }
    &__rhs {
      display: inline-flex;
      align-items: center;
      .page-move-btn {
        @include font($size: 10px, $color: $primary-text-clr);
        line-height: 12px;
        padding: 10px 11px;
        cursor: pointer;
        &.disabled {
          color: $disabled-clr;
          cursor: initial;
          pointer-events: none;
        }
      }
      .page-num-btn {
        @include font($size: $t4-text, $color: $primary-text-clr, $weight: bold);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin: 0 8px;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          border: 1px solid $grey-light-clr;
        }
        &.active {
          color: $primary-text-clr;
          background-color: $grey-lightest-clr;
          border: 1px solid $grey-light-clr;
          border-radius: $radius-4;
          cursor: initial;
          pointer-events: none;
        }
      }
    }
  }
}

//Nested table styles
.nested-table {
  @extend .table, .table-light, .table-hover, .table-bordered;
}
